<!DOCTYPE html lang="en">
<html>
  <head>
    <link type="text/css" href="css/flatly-bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
  </head>

  <body class="container">
  {{#list results}}
  <div class = "instance">
    {{#titles}}
    <p class = "title">{{title}}</p>
    {{/titles}}
    {{#votes}}
    <p class = "result">{{chamber}} - {{result}} {{how}}</p>
    {{/votes}}
    {{#history}}
    <p class = "date">{{active_at}}</p>
    {{/history}}
    {{#last_version}}
    {{#urls}}
    <p>
      <a href = {{html}} class = "original">{{html}}</a>
    </p>
    {{/urls}}
    {{/last_version}}
  </div>
  {{/list}}
  </body>

</html>