<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="live updates from Capitol Hill">
    <link rel="shortcut icon" href="">

    <title>Live Capitol Hill</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
     <link type="text/css" href="css/styles.css" rel="stylesheet"/>

    <style type="text/css"></style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
  </head>

  <body style="" class=" hasGoogleVoiceExt">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Live Capitol Hill</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://getbootstrap.com/examples/starter-template/#">Home</a></li>
            <li><a href="http://getbootstrap.com/examples/starter-template/#about">About</a></li>
            <li><a href="http://getbootstrap.com/examples/starter-template/#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template title">
        <h1>Live Capitol Hill</h1>
      </div>
      <form class="margin-base-vertical">
        <input type="text" class="form-control" placeholder="Enter your Zipcode">
        <button type="button" class="btn btn-primary">Enter</button>
      </form>
      <div class = "results">
        <div class="starter-template title">
          <h3>Active Federal Bills</h3>
        </div>
        <div class = "activeBills">
          {{#results}}
            <div class = "instance">
              <blockquote>
              {{#titles}}
              <p class="lead">{{title}}</p>
              {{/titles}}
              
              {{#votes}}
                <p><span class="{{result}}">{{result}}</span> {{how}}</p>
                <cite title="Source Title" class="chamber">{{chamber}}  </cite>
              {{/votes}}
              
              <a href = {{#last_version}}{{#urls}}{{html}}{{/urls}}{{/last_version}} class = "text-right">{{#history}}{{active_at}}{{/history}}</a>
              </blockquote>
            </div>
            {{/results}}
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  

</body></html>