<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="live updates from Capitol Hill">


    <title>Live Capitol Hill</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
     <link type="text/css" href="css/styles.css" rel="stylesheet"/>

    <style type="text/css"></style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
  </head>

  <body style="" class=" hasGoogleVoiceExt">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Live Capitol Hill</a>
        </div>
        <div class="collapse navbar-collapse">

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template heading">
        <h1>Live Capitol Hill</h1>
      </div>
      <div class="row search">
        <p class="text-center">
          <input type="text" class="form-control" placeholder="Enter your Zipcode">
          <button type="button" class="btn btn-primary">Enter</button>
        </p>
      </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          
        </div><!-- /.modal -->

      <div class = "results">
        <div class="starter-template contentTitle">
          <h3>Active Federal Bills</h3>
        </div>

          {{#results}}
              <blockquote class="bill">

                <div class="row billTitle">
                  <p class="lead" data-billID="{{bill_id}}">{{official_title}}<br></p>
                </div>
                {{#votes}}
                <div class = "row">
                    <div class="col-xs-4">
                      <p class="text-left chamber">{{chamber}}</p>
                    </div>

                    <div class="col-xs-4">
                      <p class = "text-center">
                        <span class="text-center {{result}}"><strong>{{result}}</strong></span> {{how}}<br><span class="text">{{text}}</span><br>
                        
                      </p>
                    </div>
                  {{#if last_version.urls.html}}
                  <div class="col-xs-4">
                      <p class="text-right">
                        <a class="timeStamp btn btn-link text-right" href={{last_version.urls.html}}>{{history.active_at}}</a>
                      </p>
                  </div>
                  {{else}}
                  <div class= "date col-xs-4">
                    <p class="text-right">{{acted_at}}</p>
                  </div>
                  {{/if}}
                </div>
                {{/votes}}
              </blockquote> 
            {{/results}}

      </div>

    </div><!-- /.container -->

   <div id="footer">
      <div class="container footer-container">
        <p class="text-muted credit">Data courtesy of<a href="http://sunlightfoundation.com/"> The Sunlight Foundation</a>.  Live Capitol Hill was created by <a href="https://github.com/rcerf">Rick Cerf</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  

</body></html>