<!DOCTYPE html lang="en">
<html>
  <head>
    <link type="text/css" href="css/flatly-bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
  </head>

  <body class="container">
  {{#results}}
  <div class = "instance">
    <p class = "name">{{first_name}} {{last_name}} {{party}}</p>
    <p class = "chamber">{{chamber}}</p>
    <p class = "state">{{state_name}}</p>
    <p class = "phone">{{phone}}</p>
    <a href = {{website}} class = "contact_form">Legislator's website.</a>
    <p>
      <a href = http://twitter.com/{{twitter_id}} class = "contact_form">@{{twitter_id}}</a>
    </p>
  </div>
  {{/results}}
  </body>

</html>