  <div class="container">
    <div class="starter-template title">
          <h3>Legislators in {{zip}}</h3>
    </div>
  {{#results}}
  <div class = "instance">
    <p class = "name">{{first_name}} {{last_name}} {{party}}</p>
    <p class = "chamber">{{chamber}}</p>
    <p class = "state">{{state_name}}</p>
    <p class = "phone">{{phone}}</p>
    <a href = {{website}} class = "contact_form">Legislator's website.</a>
    <p>
      <a href = http://twitter.com/{{twitter_id}} class = "contact_form">@{{twitter_id}}</a>
    </p>
  </div>
  {{/results}}
  </div>