body {
  padding-top: 3.125em;
}

.heading {
padding: 2.5em 1em;
text-align: center;
padding-top: 5em;
}

.results {
  height: 47em;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: .0625em;
  border-color: #ddd;
  border-radius: .25em .25em 0 0;
  box-shadow: none;
  border: .125em solid #eee;
  }

.search {
  padding-bottom: 2.188em;
}

.form-control {
  display: inline-block;
  width: 13em;
}

.contentTitle {
  text-align: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.bill {
  margin-left: 1em;
  margin-right: 1em;

}

.billTitle {
  text-align: left;
  padding-top: 1.25em;
  padding-left: 1em;
  padding-bottom: 1.25em;
  padding-right: 1em;
}

.pass {
  color: #4DB870;
}

.modal-title{
  text-align: center;
}

.timeStamp {
  padding: 0;
}

.party {
  color: #5C5C5C;
  font-size: .70em;
}

.state_chamber {
  margin-bottom: 0.625em;
}

.legislatorBlock {
  margin-right: 5em;
  margin-left: 5em;
  border-right: 5px solid #eee;
}

.legislator-name {
  margin-top: 0.625em;
  margin-bottom: 0px;
}

.row-small {
  margin-bottom: 0.188em;
}

.credit {
  margin: 3em;
}
