body {
  padding-top: 3.125em;
}

.heading {
padding: 2em 0 0 0;
text-align: center;
}

.subtitle {
  color: #A0A0A0
}


.results {
  height: 55em;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: .0625em;
  border-color: #ddd;
  border-radius: .25em .25em 0 0;
  box-shadow: none;
  border: .125em solid #eee;
  }

.search {
  padding-bottom: 1.5%;
}

.form-control {
  display: inline-block;
  width: 13em;
}

.contentTitle {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bill {
  margin-left: 1%;
  margin-right: 1%;

}

.billTitle {
  text-align: left;
  padding-top: 1.25em;
  padding-left: 1em;
  padding-bottom: 1.25em;
  padding-right: 1em;
}

.pass {
  color: #4DB870;
}

.text {
  display: block;
  line-height: 1.428571429;
  color: #999;
  font-size: 80%;
}

.modal-title {
  text-align: center;
}

.timeStamp {
  padding: 0;
}

.party {
  color: #5C5C5C;
  font-size: .70em;
}

.state_chamber {
  margin-bottom: 0.625em;
}

.legislatorBlock {
  margin-right: 10%;
  margin-left: 10%;
  border-right: 5px solid #eee;
}

.legislator-name {
  margin-top: 0.625em;
  margin-bottom: 0px;
}

.row-small {
  margin-bottom: 0.188em;
}

.credit {
  margin: 1em;
}
